*.map
.idea
*.iml
.repl
out/
resources/public/js/compiled
resources/public/js/js
resources/public/js/out
resources/public/js/example.js
resources/public/js/prod
figwheel_server_log.txt
figwheel_server.log
node_modules
server_out
target
/target
/lib
/classes
/checkouts
/out
*.log
